html {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container{
    bottom: 0;
    height: 400px;
    margin: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

h1 {
    font-size: 4em;
    padding: .25em;
}