.recipebox {
    text-align: center;
    border: 2px;
    width: 100%;
    background-color: white;
    border-color: purple;
    border-style: solid;
    opacity: 70%;
    padding: 5px 5px;
}

.recipebox ul {
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

.ingredients {
    text-align: center;
    border: 5px;
    width: 80%;
    background-color: white;
    border-color: purple;
    border-style: solid;
    opacity: 70%;
}

.instructions {
    text-align: center;
    border: 5px;
    width: 80%;
    background-color: white;
    border-color: purple;
    border-style: solid;
    opacity: 70%;
}

.imagebox {
    text-align: center;
    border: 5px;
    height: 40px;
    width: 80%;
    background-color: white;
    border-color: purple;
    border-style: solid;
    opacity: 70%;
}

.citation {
    text-align: center;
    border: 5px;
    width: 80%;
    background-color: white;
    border-color: purple;
    border-style: solid;
    opacity: 70%;
}